{% extends "base.html" %}

<body>
  {% block navbar %}
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/contact">Contact</a></li>
  {% endblock %}

  {% block main %}
    <h1 class="header">Welcome</h1>
    <p>
        I am currently a Master student in Statistics at University of California, Irvine. I have more than one year of experience as a member of Data Analytics Team to build data pipelines and deliver data anlytics.
        <br><br>
        I am proficient in Python, SQL and R.
        <br><br>
        Actively seeking for an intern position on Data Engineer.
    </p>
  {% endblock %}

</body>
